body{
    margin: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
}





ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

html{
    box-sizing: content-box;
}

html *, ::after, ::before
{
    box-sizing: inherit;
}


h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
}

img{
    display: block;
}

.experience-Cannes-cont
{
    background-color: #DEF0FF;
    margin: 0 auto;
    padding: 120px 0;
    text-align: center;
    width: 1366px;
}

.experience-Cannes{
    color: #0F4C92;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin: 0 auto;
    margin-bottom: 40px;
}

.experience-Cannes-cont-two{
    width: 743px;
    margin: 0 auto;
}

.experience-Cannes-text
{
    width: 743px;
    color: #0F4C92;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
}



.personified-advertising-cont
{
    padding: 101px 0;
}
.advertising-title
{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #0F4C92;
    margin-bottom: 40px;

}

.advertising-cont{
    display: flex;
    width: 1186px;
    margin: 0 auto;
    gap: 80px;
}

.advertising-wrrap-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advertising{
    width: 1366px;
    margin: 0 auto;
}

.advertising-text{
    margin-bottom: 40px;
}

.advertising:nth-child(2) > .advertising-cont
{
    gap: 72px;
}

.advertising + .advertising{
    margin-top: 80px;
}

.img1{
    border-radius: 10px;
}

.advertising-subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
    color: #1B1B1B;
}

.advertising-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px;
    color: #1B1B1B;
}

.advertising-btn{
    width: 284px;
    height: 25px;
    background-color: #0D599C;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2;
    color: #FFFFFF;;
    border: 0;
    padding: 17px 30px;
    border-radius: 100px;
}

.explore{
    background-color: #DEF0FF;
    text-align: center;
    padding: 100px 0;
    width: 1366px;
    margin: 0 auto;
}

.explore-cont{
    width: 749px;
    margin: 0 auto;
}

.explore-title{
    color: #0F4C92;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
}

.explore-text{
    width: 749px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
}

.new-heights{
    background-color: #B5E4FF;
    text-align: center;
    padding: 97px 0;
    width: 1366px;
    margin: 0 auto;
}

.new-heights-cont{
    width: 785px;
    background: #2B477C;
    border-radius: 19px;
    margin: 0 auto;
    padding: 61px 0;
}

.new-heights-title{
    width: 574px;
    color: #F4F4F4;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin: 0 auto;
    margin-bottom: 20px;
}

.new-heights-text{
    color: #F4F4F4;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 30px;
}

.new-heights-btn{
    width: 249px;
    height: 57px;
    background-color: #FF9728;
    border-radius: 84px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2;
    border: 0;
}

.meet{
    padding-top: 78px;
    text-align: center;
}

.meet-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #0F4C92;
    margin-bottom: 70px;
}

.meet-img{
    margin: 0 auto;
}

.info{
    background-color: #0B83BE;
    padding-top: 47px;
    padding-bottom: 60px;
    text-align: center;
    width: 1366px;
    margin: 0 auto;
}

.info-container{
    width: 698px;
    margin: 0 auto;
}

.info-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
}

.marginB{
    margin-bottom: 31px;
}

.info-img-two{
    margin: 0 auto;
    margin-bottom: 38px;
}

.info-img{
    margin: 0 auto;
    margin-bottom: 1px;
}

.advertising-img{
    border-radius: 10px;
}

.hero{
    background-image: url('../images/hero-gb.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 175px;
    padding-top: 35px;
    width: 1366px;
    background-size: cover;
    margin: 0 auto;
}

.hero-cont{
    width: 787px;
    margin: 0 auto;
    text-align: center;
}

.hero-logo-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin: 0;
}

.hero-logo-list-item{
    position: relative;
    margin-bottom: 121px;
}

.hero-logo-list-item.line::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -17px;
    width: 1px;
    height: 40px;
    background-color: #FFFFFF;
}

.hero-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.hero-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 71px;
}

.chref{
    color: #FFFFFF;
}